/* header */
.header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}
.navigation__text {
  color: var(--color-main);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  background-color: teal;

  transform: translateY(-50%);

  &.is-menu-hidden {
    opacity: 0;
  }

  & * {
    opacity: 1;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.burger-btn {
  // position: absolute;
  border: none;
  background-color: transparent;

  &__icon {
    width: 24px;
    height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__close-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu__close-btn {
    display: none;
  }

  .header-container {
    display: flex;
    align-items: center;
    padding: 24px 0;
  }

  .navigation {
    display: flex;
    align-content: center;
  }
}
